<div class="row">
    <div class="col s12 m6">
        <div class="card blue-grey darken-1">
            <div class="card-content white-text">
                <p id="comment-{{ comment.pk }}">{{comment.comment_text}}</p>
                {% if comment.author == user %}
                <a class="modal-trigger btn-floating btn-small waves-effect waves-light deep-purple right" href="#modal{{ comment.pk }}">
                    <i class="material-icons">edit</i>
                </a>
                {% endif %}
            </div>
            <div class="card-action">
                <a href="#">{{ comment.author.first_name }}</a>
                <span class='white-text'>{{ comment.pub_date }}</span>
                <span class='right'>Dislikes: {{comment.dislikes}}</span><br>
                <span class='right'>Likes: {{ comment.likes }}</span>
            </div>
        </div>
    </div>
</div>
{% comment %} {% include 'components/comment_modal.html' %} {% endcomment %}