{% extends 'base/base.html'%}
{% block content%}
<h2 class="center">Login</h2>
<div class="container center">
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
        <button class="btn btn-medium waves-effect waves-light green lighten-2" type="submit">Login</button>
  </form>
</div>
{% endblock %}