<!DOCTYPE html>

{% load static %}
<html>
  <head>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href={% static 'css/materialize.min.css' %}  media="screen,projection"/>
    <link type="text/css" rel="stylesheet" href={% static 'css/style.css' %}  media="screen,projection"/>
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    {% block title %}
    <title>Título da página</title>
    {% endblock%}
  </head>

  <body>
    {% block navigation %}
    {% include 'components/nav.html'%}
    {% endblock %}  
    {% block content %}
    {% endblock %}
    <script type="text/javascript" src={% static 'js/materialize.min.js' %}></script>
    <script type="text/javascript" src={% static 'js/jquery-3.3.1.min.js' %}></script>
    {% block scripts %}
    {% endblock %}
  </body>
</html>