{% extends 'base/base.html' %}

{% block content %}
<h2>Publicações da comunidade</h2>
<div class="card-panel deep-purple accent-1">
    <ul>
        {% for publication in publications %}
        <li><a href={% url 'publication' publication.pk %} class="white-text">{{ publication.title }}</a></li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
