{% extends 'base/base.html' %}

{% block content %}
<div class='container'>
    <form method="POST" action={% url 'new_community' %}> {% csrf_token %}
        {{ community_form.as_p }}
        <button class="btn btn-medium waves-effect waves-light green lighten-2" type="submit">Enviar</button>
    </form>
</div>
{% endblock %}
