{% extends 'base/base.html' %}

{% block content %}
<div class="container">
    <h2>Administrador</h2>
    <div class="card-panel deep-purple accent-1">
        <ul>
            {% for community in admin %}
            <li><a href={{ community.id }} class="white-text">{{ community.name }}</a></li>
            {% endfor %}
        </ul>
    </div>
    <h2>Membro</h2>
    <div class="card-panel deep-purple accent-1">
        <ul>
            {% for community in communities %}
            <li><a href={{ community.id }} class="white-text">{{ community.name }}</a></li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}
