{% extends 'base/base.html' %}
{% block title %}Editar usuário{% endblock %}
{% block content %}
<form method="post">
    {% csrf_token %}
    {{ user_form.as_p }}
    <button class="btn btn-medium waves-effect waves-light green lighten-2" type="submit">Salvar Alterações</button>
</form>
{% endblock  %}